# -FrontPage-

#IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

AuthName andimier.com
AuthUserFile /home/andimier/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/andimier/public_html/_vti_pvt/service.grp

RewriteEngine On
RewriteRule ^en/?$ index.php [NC,L]
RewriteRule ^([a-z-]+)$ index.php?page=$1 [NC,L]
RewriteRule ^articulos/(\w+(?:-\w+)*)/?$  articulo.php  [NC,L]
RewriteRule ^blog/(\w+(?:-\w+)*)/?$ articulo.php  [NC,L]
RewriteRule ^diseno-grafico|graphic-design/(\w+(?:-\w+)*)/?$  proyecto-grafico.php  [NC,L]
