.ttprincipal h1{
	color: gray
}


input[type="text"] {
	float: none;
	font-family: 'Open Sans Condensed', sans-serif;

	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	
}


input[type="email"] {
	float: none;
	font-family: 'Open Sans Condensed', sans-serif;
	
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	
}


input[type="submit"] {
	float:none;
	border:0;
	padding:0;
	height:0px;
	color:#fff;
	
	cursor:pointer;
}

textarea {
	float: none;
	height: 120px;
	padding: 10px 2%;
	margin: 0px 0px 10px 0px;
	border: 1px solid #ccc;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1em;
	resize:none;
}

textarea:focus, input:focus {
	border: none;
	background-color:#000;
}



label {
	float: none;
	text-align:right;
	margin-right:2%;
	width: 20%;
	padding:10px 0;
	
	font-size: 17px;	
	font-family: 'IM Fell English', serif;
	font-style:italic;
	
	/*background-color:#00f*/
}



/*=========== CONTACTO ================*/

#cnt_contacto{
	width:96%;
	height:auto;
	margin:auto;
	text-align:center;
	
}

#cnt_contacto h1{
	font-size:26px;
}

#cnt_contacto h2{
	font-size:20px;
}

#cnt_formulario{
	max-width:600px;
	height:auto;
	margin:40px auto 0 auto;
	padding:0 0 70px 0;
}

.campo{
	width:96%;
	padding:20px 2% 20px 2%;
	background-color:#ccc;
	color:#000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:16px;
	color:#fff;
}


::-webkit-input-placeholder {
   color: white;
   font-family: 'Open Sans Condensed', sans-serif;
   
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
   font-family: 'Open Sans Condensed', sans-serif;
   
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
   font-family: 'Open Sans Condensed', sans-serif;
   
}

:-ms-input-placeholder {  
    color: white; 
	font-family: 'Open Sans Condensed', sans-serif;  
	
}


#btn_enviar{
	width:100%;
	height:60px;
	font-family: 'Open Sans Condensed', sans-serif;  
	font-size:1em;
	text-transform:capitalize;
	color:#fff;
	background-color:#4c575f;
}

#btn_enviar:hover{
	background-color:#2d3a43;
}