.txt_proyectos{
	position:fixed;
	width:300px;
	height:auto;
	top:100%;
	left:20px;
}

.txt_proyectos h1{
	text-transform:capitalize;
	font-size:20px;
	
}

.txt_proyectos h2{
	text-transform:capitalize;
	font-size:25px;
	
}

.txt_proyectos p{
font-size:15px;
}